body {
    margin: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: white;
    min-width: 360px;
    //*******display score info
    .display {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        -webkit-user-select: none;
        @media only screen and (max-width: 1000px) {
            position: relative;
            top: 60px;
        }
    }

    //*******proBar and instruction
    .container {
        color: white;
        position: fixed;
        top: 10px;
        -webkit-user-select: none;
        border: white 1.5px solid;
        border-radius: 100px;
        width: 40%;
        min-width: 300px;
        height: 25px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .proBar {
            z-index: 1;
            position: absolute;
            left: 0;
            border-radius: 100px;
            width: 100%;
            height: 100%;
            transition: 0.3s width linear;
            //background-color: rgba(4, 255, 0, 0.5);
            background: linear-gradient(#f5f504, #00ff08);
            backdrop-filter: opacity(0.5);
        }

        .proBarInstruction {
            z-index: 2;
            font-weight: 750;
            font-size: 0.8em;
            color: red;
        }
    }

    //*******start btn and score info
    .panel {
        opacity: 1;
        z-index: 1;
        //background-color: rgba(255, 255, 255, 1);
        position: absolute;
        overflow: hidden;
        min-width: 300px;
        height: 160px;
        padding: 10px 0 0 0;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: white 1px solid;
        color: black;
        text-align: center;

        &::before {
            content: "";
            background-image: url('btn-bc.jpg');
            background-position: center bottom;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0.7;
        }

        .score {
            font-size: 20px;
            letter-spacing: 2px;
            font-weight: bolder;
            height: 50px;
            color: white;
            z-index: 1;
        }

        a {
            //background-color: cornflowerblue;
            background-image: url("btn-bc.jpg");
            background-position: center;
            overflow: hidden;
            display: block;
            width: 200px;
            height: 40px;
            line-height: 40px;
            font-size: 22px;
            font-weight: 700;
            text-decoration: none;
            color: #333;
            border: 1px solid #333;
            border-radius: 50px;
            letter-spacing: 3px;
            text-align: center;
            position: relative;
            top: -10px;
            transition: all .35s;
        }

        a span {
            position: relative;
            z-index: 2;
        }

        a:after {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background: rgba(0, 255, 8, 0.5);
            transition: all .35s;
        }

        a:hover {
            color: white;
        }

        a:hover:after {
            width: 100%;
        }
    }

    #startGameBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        a {
            margin: 0 auto 48px auto;
        }
        div {
            position: absolute;
            bottom: 4px;
            p {
                margin: 0;
                text-align: center;
                color: white;
                letter-spacing: 2px;
                font-size: 14px;
                font-weight: bolder;
                &:first-child {
                    margin-top: -8px;
                    margin-bottom: 4px;
                }
            }
            animation: showhide infinite 2s;
        }
    }
    
    @keyframes showhide {
        0% {
            opacity: 1;
        }
        70% {
            opacity: 1;
        }
        71% {
            opacity: 0
        }
        100% {
            opacity: 0;
        }
    }
    //*******card list container show my portfolio
    .card-list {
        -webkit-user-select: none;
        position: absolute;
        display: flex;
        flex-direction: row;
        padding: 3rem 3rem 1rem 1rem;
        overflow-x: hidden;
        opacity: 0; //change to 0
        z-index: -1; //change to -1
        width: 80%;
        transition: all 0.5s ease-in;
        //margin-left: 50px;
        @media only screen and (max-width: 1000px) {
            display: none;
        }
    }

    .card-list-phone {
        -webkit-user-select: none;
        position: absolute;
        display: none;
        height: 420px;
        width: 360px;
        padding: 1rem;
        overflow-x: hidden;
        overflow-y: scroll;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        opacity: 0; //change to 0
        z-index: -1; //change to -1
        &::-webkit-scrollbar {
            display: none;
        }

        .card-phone {
            //border: 1px red solid;
            scroll-snap-align: start;
            margin: 10px 0;
            display: flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            padding: 1.5rem;
            border-radius: 16px;
            background: #17141d;
            box-shadow: -1rem 0 3rem #000000;
            a {
                color: white;
                text-decoration: none;
            }

            .card-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }

            .contact-phone {
                width: 90%;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .contact-container {
                    width: 50%;
                    //border: 1px solid red;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    font-size: 30px;
                }
            }

            hr {
                width: 100%;
                border: 1px #686666 solid;
            }
        }

        .card2-phone {
            //box-shadow: 1px 1px 5px 10px #888888;
            overflow: hidden;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            filter: brightness(90%);
            background-size: cover;
            background-position: center;

            .title {
                position: relative;
                top: 15px;
                line-height: 14px;
                text-align: center;
                font-size: 16px;

                &:hover {
                    background: linear-gradient(90deg, #ffffff, rgb(243, 6, 6));
                    text-shadow: none;
                    /*background-clip: text;*/
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }

        .card2-phone-bg {
            background-image: url("card-1.jpg");
        }

        .card3-phone-bg {
            background-image: url("card-2.jpg");
        }

        .card4-phone-bg {
            background-image: url("card-3.jpg");
        }

        @media only screen and (max-width: 1000px) {
            display: block;
        }
    }
}

//card effects
.card:hover {
    //transform: translateY(-1rem);
    transform: translateY(-2rem) scale(1.2);
}

.card:hover ~ .card {
    transform: translateX(50px);
    z-index: -1;
}

.card:not(:first-child) {
    margin-left: -50px;
}

//general card style
.card {
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 360px;
    padding: 1.5rem;
    border-radius: 16px;
    background: #17141d;
    box-shadow: -1rem 0 3rem #000000;
    transition: .3s;
    a {
        color: white;
        text-decoration: none;
    }

    hr {
        width: 100%;
        border: 1px #686666 solid;
    }
}

//for card1 specific
.card1 {
    align-items: flex-start;
    //border: #00ff08 1px solid;

    .card-author {
        width: 100%;
        height: 30%;
        position: relative;
        left: -20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .author-avatar {
            position: relative;
            width: 50%;
            height: 80px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            img {
                position: absolute;
                display: block;
                width: 50px;
                height: 50px;
                border-radius: 50%;
            }

            .half-circle {
                position: absolute;
                top: 24px;
                width: 60px;
                height: 60px;
                fill: none;
                stroke: #00ff08;
                stroke-width: 6;
            }
        }

        .author-name-prefix {
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            color: white;
        }
    }

    .card-header {
        width: 100%;
        //border: 1px solid red;
        font-size: 16px;
        height: 60%;
        position: relative;
        //left: -10px;

        h1 {
            margin: 10px auto;
        }

        ul {
            padding-left: 20px;
            list-style: circle
        }

        li {
            font-size: 14px;
            margin-bottom: 10px;

            &:hover {
                background: linear-gradient(90deg, #f30606, rgb(0, 255, 8));
                text-shadow: none;
                /*background-clip: text;*/
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

        h2 {
            font-weight: 600;
        }
    }

    .contact {
        a {
            margin-left: 5px;
            display: inline-block;
            font-size: 30px;
            position: relative;
            left: 10px;

            &:hover {
                animation-name: rotate;
                animation-duration: 0.8s;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
            }

            @keyframes rotate {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}

//for card2 styling
.card2 {
    overflow: hidden;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    filter: brightness(60%);
    background-size: cover;
    background-position: center;

    &:hover {
        filter: brightness(100%);
    }

    .title {
        position: relative;
        top: 15px;
        line-height: 14px;
        text-align: center;
        font-size: 16px;

        &:hover {
            background: linear-gradient(90deg, #ffffff, rgb(243, 6, 6));
            text-shadow: none;
            /*background-clip: text;*/
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.scoreNumber {
    display: inline-block;
    transition: all 0.1s linear;
    margin-left: 5px;
}

.scoreEffect {
    transition: all 0.1s linear;
    color: red;
    transform: scale(1.8);
}

.card2-bg {
    background-image: url("card-1.jpg");
}

.card3-bg {
    background-image: url("card-2.jpg");
}

.card4-bg {
    background-image: url("card-3.jpg");
}


