body {
  margin: 0;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: white;
  min-width: 360px;
}
body .display {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  -webkit-user-select: none;
}
@media only screen and (max-width: 1000px) {
  body .display {
    position: relative;
    top: 60px;
  }
}
body .container {
  color: white;
  position: fixed;
  top: 10px;
  -webkit-user-select: none;
  border: white 1.5px solid;
  border-radius: 100px;
  width: 40%;
  min-width: 300px;
  height: 25px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .proBar {
  z-index: 1;
  position: absolute;
  left: 0;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  transition: 0.3s width linear;
  background: linear-gradient(#f5f504, #00ff08);
  backdrop-filter: opacity(0.5);
}
body .container .proBarInstruction {
  z-index: 2;
  font-weight: 750;
  font-size: 0.8em;
  color: red;
}
body .panel {
  opacity: 1;
  z-index: 1;
  position: absolute;
  overflow: hidden;
  min-width: 300px;
  height: 160px;
  padding: 10px 0 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: white 1px solid;
  color: black;
  text-align: center;
}
body .panel::before {
  content: "";
  background-image: url("btn-bc.jpg");
  background-position: center bottom;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}
body .panel .score {
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bolder;
  height: 50px;
  color: white;
  z-index: 1;
}
body .panel a {
  background-image: url("btn-bc.jpg");
  background-position: center;
  overflow: hidden;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  border-radius: 50px;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  top: -10px;
  transition: all 0.35s;
}
body .panel a span {
  position: relative;
  z-index: 2;
}
body .panel a:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(0, 255, 8, 0.5);
  transition: all 0.35s;
}
body .panel a:hover {
  color: white;
}
body .panel a:hover:after {
  width: 100%;
}
body #startGameBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
body #startGameBtn a {
  margin: 0 auto 48px auto;
}
body #startGameBtn div {
  position: absolute;
  bottom: 4px;
  animation: showhide infinite 2s;
}
body #startGameBtn div p {
  margin: 0;
  text-align: center;
  color: white;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: bolder;
}
body #startGameBtn div p:first-child {
  margin-top: -8px;
  margin-bottom: 4px;
}
@keyframes showhide {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body .card-list {
  -webkit-user-select: none;
  position: absolute;
  display: flex;
  flex-direction: row;
  padding: 3rem 3rem 1rem 1rem;
  overflow-x: hidden;
  opacity: 0;
  z-index: -1;
  width: 80%;
  transition: all 0.5s ease-in;
}
@media only screen and (max-width: 1000px) {
  body .card-list {
    display: none;
  }
}
body .card-list-phone {
  -webkit-user-select: none;
  position: absolute;
  display: none;
  height: 420px;
  width: 360px;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  opacity: 0;
  z-index: -1;
}
body .card-list-phone::-webkit-scrollbar {
  display: none;
}
body .card-list-phone .card-phone {
  scroll-snap-align: start;
  margin: 10px 0;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000000;
}
body .card-list-phone .card-phone a {
  color: white;
  text-decoration: none;
}
body .card-list-phone .card-phone .card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .card-list-phone .card-phone .contact-phone {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .card-list-phone .card-phone .contact-phone .contact-container {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
}
body .card-list-phone .card-phone hr {
  width: 100%;
  border: 1px #686666 solid;
}
body .card-list-phone .card2-phone {
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  filter: brightness(90%);
  background-size: cover;
  background-position: center;
}
body .card-list-phone .card2-phone .title {
  position: relative;
  top: 15px;
  line-height: 14px;
  text-align: center;
  font-size: 16px;
}
body .card-list-phone .card2-phone .title:hover {
  background: linear-gradient(90deg, #ffffff, rgb(243, 6, 6));
  text-shadow: none;
  /*background-clip: text;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body .card-list-phone .card2-phone-bg {
  background-image: url("card-1.jpg");
}
body .card-list-phone .card3-phone-bg {
  background-image: url("card-2.jpg");
}
body .card-list-phone .card4-phone-bg {
  background-image: url("card-3.jpg");
}
@media only screen and (max-width: 1000px) {
  body .card-list-phone {
    display: block;
  }
}

.card:hover {
  transform: translateY(-2rem) scale(1.2);
}

.card:hover ~ .card {
  transform: translateX(50px);
  z-index: -1;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card {
  margin: 0 auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 360px;
  padding: 1.5rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #000000;
  transition: 0.3s;
}
.card a {
  color: white;
  text-decoration: none;
}
.card hr {
  width: 100%;
  border: 1px #686666 solid;
}

.card1 {
  align-items: flex-start;
}
.card1 .card-author {
  width: 100%;
  height: 30%;
  position: relative;
  left: -20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card1 .card-author .author-avatar {
  position: relative;
  width: 50%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card1 .card-author .author-avatar img {
  position: absolute;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.card1 .card-author .author-avatar .half-circle {
  position: absolute;
  top: 24px;
  width: 60px;
  height: 60px;
  fill: none;
  stroke: #00ff08;
  stroke-width: 6;
}
.card1 .card-author .author-name-prefix {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  color: white;
}
.card1 .card-header {
  width: 100%;
  font-size: 16px;
  height: 60%;
  position: relative;
}
.card1 .card-header h1 {
  margin: 10px auto;
}
.card1 .card-header ul {
  padding-left: 20px;
  list-style: circle;
}
.card1 .card-header li {
  font-size: 14px;
  margin-bottom: 10px;
}
.card1 .card-header li:hover {
  background: linear-gradient(90deg, #f30606, rgb(0, 255, 8));
  text-shadow: none;
  /*background-clip: text;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card1 .card-header h2 {
  font-weight: 600;
}
.card1 .contact a {
  margin-left: 5px;
  display: inline-block;
  font-size: 30px;
  position: relative;
  left: 10px;
}
.card1 .contact a:hover {
  animation-name: rotate;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card2 {
  overflow: hidden;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  filter: brightness(60%);
  background-size: cover;
  background-position: center;
}
.card2:hover {
  filter: brightness(100%);
}
.card2 .title {
  position: relative;
  top: 15px;
  line-height: 14px;
  text-align: center;
  font-size: 16px;
}
.card2 .title:hover {
  background: linear-gradient(90deg, #ffffff, rgb(243, 6, 6));
  text-shadow: none;
  /*background-clip: text;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scoreNumber {
  display: inline-block;
  transition: all 0.1s linear;
  margin-left: 5px;
}

.scoreEffect {
  transition: all 0.1s linear;
  color: red;
  transform: scale(1.8);
}

.card2-bg {
  background-image: url("card-1.jpg");
}

.card3-bg {
  background-image: url("card-2.jpg");
}

.card4-bg {
  background-image: url("card-3.jpg");
}

/*# sourceMappingURL=index.css.map */
